@model School
@{
    ViewData["Title"] = "Create school";
}


<form method="post" enctype="multipart/form-data">
    <div cclass="border p-3 mt-4">

        <partial name="_form" />

        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
    </div>

</form>