@model SchoolFinderWeb.Areas.Admin.ViewModel.EditUserViewModel
@{
    ViewData["Title"] = "Edit user";
}


<form method="post" asp-action="Edit">
    <div cclass="border p-3 mt-4">

        <div asp-validation-summary="All"></div>

        <input asp-for="Id" class="form-control" type="hidden"/>

        <div class="border p-3 mt-4">
            <div class="mb-3">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserType" class="label-form">Choose user type:</label>
                <select asp-for="UserType" asp-items="Html.GetEnumSelectList<UserTypes>()" class="form-control label-form"></select>
            </div>

            <div class="mb-3">
                <label asp-for="IsConfirmed"></label>
                <input asp-for="IsConfirmed" type="checkbox" />
                <span asp-validation-for="IsConfirmed" class="text-danger"></span>
            </div>

        <button type="submit" class="btn btn-primary" style="width:150px">Edit</button>
    </div>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
        }