@model User
@{
    ViewData["Title"] = "Edit user";
}


<form method="post" asp-action="Edit">
    <div cclass="border p-3 mt-4">

        <div asp-validation-summary="All"></div>

        <partial name="_form" />

        <button type="submit" class="btn btn-primary" style="width:150px">Edit</button>
    </div>

</form>