
@{
    ViewData["Title"] = "Contacts";
}

<!-- Google Maps Start -->
<div class="akame-google-maps-area">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d81609.25644177575!2d28.591317014053264!3d50.2678573231567!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472c64a32bfa355d%3A0xf14ad2a3d9b9e229!2z0JbQuNGC0L7QvNC40YAsINCW0LjRgtC-0LzQuNGA0YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsIDEwMDAw!5e0!3m2!1sru!2sua!4v1713951105440!5m2!1sru!2sua"
            allowfullscreen></iframe>
</div>
<!-- Google Maps End -->
<!-- Contact Information Area Start -->
<section class="contact-information-area section-padding-80-0 bg-gray">
    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Напишіть нам</h2>
                    <p> Наші співробітники дадуть відповіді на всі Ваші запитання.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Single Contact Information -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-contact-information mb-80">
                    <i class="icon_phone"></i>
                    <h4>Телефон</h4>
                    <p>(+380) 98 088 89 98</p>
                </div>
            </div>

            <!-- Single Contact Information -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-contact-information mb-80">
                    <i class="icon_pin"></i>
                    <h4>Адреса</h4>
                    <p>Житомир, Україна</p>
                </div>
            </div>

            <!-- Single Contact Information -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-contact-information mb-80">
                    <i class="icon_mail"></i>
                    <h4>Пошта</h4>
                    <p>SchoolFinder@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Information Area End -->