@{
    ViewData["Title"] = "Home Page";
}

<!-- Welcome Area Start -->
<section class="welcome-area">
    <div class="welcome-slides owl-carousel">
        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide bg-img" style="background-image: url(img/bg-img/w1.jpg);">
            <!-- Welcome Content -->
            <div class="welcome-content h-100 welcome-bg">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <!-- Welcome Text -->
                        <div class="col-12 col-md-9 col-lg-6 welcome-text-carousel">
                            <div class="welcome-text">
                                <h2 data-animation="fadeInUp" data-delay="300ms">
                                    Обираєте кращу школу для <br>
                                    дитини?
                                </h2>
                                <p data-animation="fadeInUp" data-delay="400ms">
                                    У пошуках ідеальної школи для вашої
                                    дитини? Відбір навчального закладу - це важливий крок, який визначатиме
                                    майбутній шлях вашої дитини. Наш сайт допоможе Вам!
                                </p>
                                <a href="#" class="btn akame-btn active" data-animation="fadeInUp"
                                   data-delay="700ms">Обрати школу</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide bg-img">
            <!-- Welcome Content -->
            <div class="welcome-content h-100 welcome-bg">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <!-- Welcome Text -->
                        <div class="col-12 col-md-9 col-lg-6">
                            <div class="welcome-text">
                                <h2 data-animation="fadeInUp" data-delay="100ms">
                                    Новітні тенденції <br> у навчанні
                                </h2>
                                <p data-animation="fadeInUp" data-delay="400ms">
                                    Школа відіграє ключову роль у
                                    формуванні особистості та забезпеченні майбутньої кар'єри. Стаття досліджує
                                    новітні підходи до навчання та методи ведення уроків, а також ефективне
                                    використання часу в школі. Дізнайтеся, як зробити навчання цікавим та
                                    продуктивним.
                                </p>
                                <a href="#" class="btn akame-btn active" data-animation="fadeInUp"
                                   data-delay="700ms">Детальніше</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Welcome Area End -->
<!-- Why Choose Us Area Start -->
<section class="akame-service-area section-padding-80-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2>Коли потрібен SchoolFinder?</h2>
                    <!-- <p>The House of SchoolFinder magna aliqua.</p> -->
                    <!-- Border -->
                    <div class="container">
                        <div class="border-top mt-3"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- Single Service Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-service-area mb-80 wow fadeInUp" data-wow-delay="200ms">
                    <img src="img/core-img/school.png" alt="" width="64px">
                    <h5>Вступ до 1 класу</h5>
                    <p>Перший крок у цікавий світ навчання.</p>
                </div>
            </div>

            <!-- Single Service Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-service-area mb-80 wow fadeInUp" data-wow-delay="800ms">
                    <img src="img/core-img/books.png" alt="" width="64px">
                    <h5>Схильності дитини</h5>
                    <p>Підтримайте розвиток вашої дитини з нами.</p>
                </div>
            </div>

            <!-- Single Service Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-service-area mb-80 wow fadeInUp" data-wow-delay="400ms">
                    <img src="img/core-img/delivery.png" alt="" width="64px">
                    <h5>Переїзд</h5>
                    <p>Адаптуйтеся з легкістю до нового місця.</p>
                </div>
            </div>

            <!-- Single Service Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-service-area mb-80 wow fadeInUp" data-wow-delay="600ms">
                    <img src="img/core-img/education.png" alt="" width="64px">
                    <h5>Зміна школи</h5>
                    <p>Нові можливості у новому оточенні.</p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Why Choose Us Area End -->
<!-- Border
<div class="container">
    <div class="border-top mt-3"></div>
</div>
-->
<!-- Корисні статті Start -->
<section class="akame-blog-area section-padding-80-0 bg-gray clearfix">
    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Корисні статті</h2>
                    <p>
                        Дізнайтесь, що допоможе Вам при підготовці до школи, як правильно обрати рюкзак та багато
                        іншого!
                    </p>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- Single Post Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-post-area mb-80 wow fadeInUp" data-wow-delay="200ms">
                    <div class="post-thumbnail">
                        <a href="single-blog.html"><img src="img/bg-img/k1.jpg" alt=""></a>
                    </div>
                    <div class="post-content">
                        <a href="#" class="post-title">
                            Підготовка до школи з психологічної точки зору: як допомогти
                            дитині впоратися з переходом
                        </a>

                        <!-- <div class="post-meta">
                            <a href="#" class="post-date"><i class="icon_clock_alt"></i> September 27, 2018</a>
                            <a href="#" class="post-comments"><i class="icon_chat_alt"></i> 10</a>
                        </div> -->
                        <p>
                            У цій статті розглянемо, які психологічні аспекти варто врахувати при підготовці дитини
                            до школи, які методи можуть допомогти зменшити стрес та підвищити самопочуття.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Single Post Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-post-area mb-80 wow fadeInUp" data-wow-delay="400ms">
                    <div class="post-thumbnail">
                        <a href="single-blog.html"><img src="img/bg-img/k2.jpg" alt=""></a>
                    </div>
                    <div class="post-content">
                        <a href="#" class="post-title">
                            Школа як джерело радості: як зробити навчання захопливим та
                            ефективним
                        </a>
                        <p>
                            Навчання у школі не повинно бути джерелом страху чи нудьги для вашої дитини. Ми
                            поділимося корисними порадами та стратегіями, які допоможуть зробити шкільне життя
                            цікавим.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Single Post Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-post-area mb-80 wow fadeInUp" data-wow-delay="600ms">
                    <div class="post-thumbnail">
                        <a href="single-blog.html"><img src="img/bg-img/k3.jpg" alt=""></a>
                    </div>
                    <div class="post-content">
                        <a href="#" class="post-title">
                            Як правильно вибрати рюкзак для школяра: поради від фахівців
                        </a>
                        <p>
                            Вибір рюкзака для школяра - важлива задача, яка впливає на комфорт та здоров'я вашої
                            дитини протягом багатьох годин навчання. У цій статті ми детально розглянемо, на що
                            варто звернути увагу під час вибору рюкзака.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Корисні статті End -->
<!-- Додати заклад Start -->
<section class="akame-cta-area  section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-10 col-xl-5">
                <div class="cta-content">
                    <h2>Бажаєте додати Ваш заклад<br> до нас?</h2>
                    <p>
                        У нас Ви знайдете унікальну можливість презентувати Вашу школу широкому колу та залучити
                        нових учнів. Реєструйтеся зараз та долучайтеся до нашої платформи для спільного розвитку
                        освіти!
                    </p>
                    <div class="akame-btn-group mt-30">
                        <a href="/addSchool" class="btn akame-btn active mr-3 mb-3 mb-sm-0">Додати заклад</a>
                        <a href="/contacts" class="btn akame-btn">Написати Нам</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CTA Thumbnail -->
    <div class="cta-thumbnail bg-img" style="background-image: url(img/bg-img/backpack.png);"></div>
</section>
<!-- Додати заклад End -->