@model SchoolFinderWeb.Models.VUO

<div asp-validation-summary="All" class="text-danger"></div>

<div class="mb-3">
    <label asp-for="Student"></label>
    <input asp-for="Student" class="form-control" />
    <span asp-validation-for="Student" class="text-danger"></span>
</div>
<div class="mb-3">
    <label asp-for="SchoolName"></label>
    <input asp-for="SchoolName" class="form-control" />
    <span asp-validation-for="SchoolName" class="text-danger"></span>
</div>
<div class="mb-3">
    <label asp-for="Class"></label>
    <input asp-for="Class" class="form-control" />
    <span asp-validation-for="Class" class="text-danger"></span>
</div>
<div class="mb-3">
    <label asp-for="DiplomPlace"></label>
    <input asp-for="DiplomPlace" class="form-control" />
    <span asp-validation-for="DiplomPlace" class="text-danger"></span>
</div>
<div class="mb-3">
    <label asp-for="Subject"></label>
    <input asp-for="Subject" class="form-control" />
    <span asp-validation-for="Subject" class="text-danger"></span>
</div>
<div class="mb-3">
    <label asp-for="OlimpiadYear"></label>
    <input asp-for="OlimpiadYear" class="form-control" />
    <span asp-validation-for="OlimpiadYear" class="text-danger"></span>
</div>
<div class="mb-3">
    <label asp-for="SchoolId"></label>
    <input asp-for="SchoolId" class="form-control" />
    <span asp-validation-for="SchoolId" class="text-danger"></span>
</div>
